<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./libs/bootstrap.css">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-xs-12">

            <div class="page-header">
                <h3>Domain: "{{domain}}"
                    <small class="pull-right"><b>Generated at:</b> {{generatedAt}}</small>
                </h3>
            </div>

            {{#each screenshots}}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                {{#if status}}
                                    <a href="{{filename}}" target="_blank">
                                        <img src="{{filename}}" class="img-responsive img-thumbnail">
                                    </a>
                                {{/if}}
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group" style="overflow-wrap:break-word;">

                                    <li class="list-group-item">
                                        <b>Resolution:</b> <code>{{resolution.width}}x{{resolution.height}}</code>
                                        <b>Platform:</b><code>{{resolution.platform}}</code>
                                    </li>

                                    <li class="list-group-item text-info">
                                        <b class="text-uppercase">Console info messages:</b>
                                    </li>
                                    {{#each logs.messages}}
                                        <li class="list-group-item text-info"><span>{{this}}</span></li>
                                    {{/each}}

                                    <li class="list-group-item text-danger">
                                        <b class="text-uppercase">Console js errors:</b>
                                    </li>
                                    {{#each logs.jsErrors}}
                                        <li class="list-group-item text-danger">
                                            <span>{{msg}}</span>
                                            <p><b>Trace:</b>{{trace}}</p>
                                        </li>
                                    {{/each}}

                                    <li class="list-group-item text-warning">
                                        <b class="text-uppercase">Console resource errors:</b>
                                    </li>
                                    {{#each logs.resourceErrors}}
                                        <li class="list-group-item text-warning">
                                            <p>
                                                <b>Unable to load resource <code>{{id}}</code></b> <br> {{url}}
                                            </p>
                                            <p>
                                                <b>Error code: <code>{{errorCode}}</code>.</b>
                                                <br> Description: {{errorString}}
                                            </p>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            {{/each}}

        </div>
    </div>
</div>

<script src="./libs/bootstrap.js"></script>
</body>
</html>