<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./libs/bootstrap.css">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-xs-12">

            <div class="page-header">
                <h3>Domain: "{{domain}}"
                    <small class="pull-right"><b>Generated at:</b> {{generatedAt}}</small>
                </h3>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <span><b>Job id:</b> <code>{{id}}</code></span>
                    <span><b>Quality:</b> <code>{{quality}}</code></span>
                    <span><b>Windows resolution:</b> <code>{{win_res}}</code></span>
                    <span><b>Mac resolution:</b> <code>{{mac_res}}</code></span>
                    <span><b>Orientation:</b> <code>{{orientation}}</code></span>
                </div>
            </div>

            </br></hr></br>

            {{#each screenshots}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="{{image_url}}" target="_blank">
                                    <img src="{{image_url}}" class="img-responsive img-thumbnail">
                                </a>
                            </div>
                            <div class="col-md-4">
                                <ul class="list-group" style="overflow-wrap:break-word;">
                                    <li class="list-group-item">
                                        <b>OS:</b> <code>{{os}}</code>
                                    </li>
                                    <li class="list-group-item">
                                        <b>OS ver.:</b> <code>{{os_version}}</code>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Browser:</b> <code>{{browser}}</code>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Browser ver.:</b> <code>{{browser_version}}</code>
                                    </li>
                                    {{#if device}}
                                        <li class="list-group-item">
                                            <b>Device:</b> <code>{{device}}</code>
                                        </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            {{/each}}

        </div>
    </div>

</div>
<script src="./libs/bootstrap.js"></script>
</body>
</html>